.git
.github
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.local
.env.*.local
docker-compose*.yml
deploy.sh
README.md
.dockerignore
.editorconfig
.gitignore
.gitattributes
phpunit.xml
